@use "_typography" as *;
@use "_vars" as *;

@import "reset";
@import "components/items";
@import "components/person-info";
@import "components/testimonies";

html {
  @include font;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 1110px;
  min-width: 327px;
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 24px;
  margin: 24px;
}

@media (min-width: $breakpoint-tablet) {
  .container {
    //grid-template-columns: 1fr 1fr 1fr 1fr;
    //grid-template-areas: "c1 c1 c2 c5" "c3 c4 c4 c5";
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }

  .item {
    &_1 {
      //grid-area:c1;
      order: 2;
    }
    &_2 {
      //grid-area:c2;
      order: 2;
    }

    &_3 {
      //grid-area:c3;
      order: 1;
    }

    &_4 {
      //grid-area:c4;
      order: 3;
    }

    &_5 {
      //grid-area:c5;
      grid-column: 1 / span 2;
      order: 4;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    height: 572px;
    grid-template-columns: repeat(4, 255px);
    grid-template-rows: 282px 266px;
  }

  .item {
    &_1 {
      grid-column: 1 / 3;
    }
    &_3 {
      grid-area: 1 / 4 / 3 / 5;
    }

    &_5 {
      grid-column: 2 / 4;
    }
  }
}
