@use "../../../scss/utils/vars" as *;
@use "../../../scss/utils/typography" as *;

.ft__check-input {
  position: relative;
  padding: 24px 0 0 24px;

  > input {
    opacity: 0;

    &:checked + .checkbox-custom:before {
      display: block;
      content: "\2713";
      position: absolute;
      width: 24px;
      height: 24px;
      padding: 6px;
      color: $violet;
      text-align: center;
      background-color: rgba(25, 32, 45, 0.1);
      z-index: 1;
    }
  }

  > .checkbox-custom {
    position: absolute;
    top: 24px;
    left: 24px;
    height: 24px;
    width: 24px;
    background-color: rgba(25, 32, 45, 0.1);
    border-radius: 3px;
    &:hover {
      cursor: pointer;
    }
  }
}

.ft__text {
  @include font($c: $very-dark-blue, $fw: $fw-bold, $s: 16px, $lh: 16px);
  display: inline-block;
  padding: 6px 0 0 16px;
}
