@use "../../../scss/utils/vars" as *;
@use "../../../scss/utils/typography" as *;

.location__search-input {
  @include font($s: 16px, $lh: 16px);
  width: 100%;
  padding: 30px 30px 26px 57px;
  background: url("../../../assets/desktop/icon-location.svg") no-repeat 24px
    24px;
  border: none;
  border-bottom: 1px solid rgb(110, 128, 152, 0.2);
  &::placeholder {
    opacity: 0.5;
  }
}

@media (min-width: $breakpoint-tablet) {
  .location__search-input {
    flex-basis: 222px;
    border: none;
    box-shadow: none;
    padding: 34px 0 30px 64px;
    &::placeholder {
      opacity: 0.5;
    }
    background: url("../../../assets/desktop/icon-location.svg") 17px 28px
      no-repeat;
    border-left: solid 1px rgb(110, 128, 152, 0.2);
  }
}
