@use "./vars" as *;
@use "./typography" as *;

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.modal-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.modal-inner {
  background: white;
  border-radius: 6px;
}

.search-btn {
  background: $violet;
  border-radius: 5px;
}

.search-btn--large {
  width: 279px;
  padding: 16px 48px;
}

.search-btn--medium {
  width: 141px;
  padding: 16px 30px;
}

.search-btn--small {
  width: 80px;
  padding: 14px 16px;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
