// primary
$violet: rgb(89, 100, 224);
$light-violet: rgb(147, 155, 244);

$very-dark-blue: rgb(25, 32, 45);
$midnight: rgb(18, 23, 33);

// secondary
$white: rgb(255, 255, 255);
$light-grey: rgb(244, 246, 248);
$gray: rgb(157, 174, 194);
$dark-blue: rgb(110, 128, 152);

$body: rgb(242, 242, 242);
$white: white;

$breakpoint-tablet: 600px;
$breakpoint-desktop: 800px;

$backgroundColors: ("#df6dae");
