@use "../variables" as *;

// build logo circles even though available in logo
.header {
  position: relative;
  width: 138px;
  height: 32px;
  margin: 48px 128px;

  &__circle {
    width: 14px;
    height: 14px;

    &--purple {
      position: absolute;
      top: 2px;
      left: 14px;
      background-color: $purple;
      border-radius: 7px;
    }

    &--turquoise {
      position: absolute;
      bottom: 0;
      background-color: $turquoise;
      border-radius: 7px;
    }
  }

  &__logo {
    width: 100px;
    margin-left: 38px;
  }
}
