@use "../../../scss/utils/vars" as *;
@use "../../../scss/utils/typography" as *;

.title__search-input {
  @include font($c: $very-dark-blue, $s: 16px, $lh: 16px);
  color: #19202d;
  width: 100%;
  padding: 34px 0px 30px 24px;
  background: #ffffff;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  &::placeholder {
    opacity: 0.5;
  }
}

.title__search-filter {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 30px;
  right: 88px;
  z-index: 2;
  background: url("../../../assets/mobile/icon-filter.svg") no-repeat center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.title__search-btn {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2;
  background: $violet url("../../../assets/desktop/icon-search.svg") no-repeat
    center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

@media (min-width: $breakpoint-tablet) {
  .title__search-input {
    flex-basis: 222px;
    border: none;
    box-shadow: none;
    padding: 34px 0 30px 64px;
    &::placeholder {
      opacity: 0.5;
    }
    background: url("../../../assets/desktop/icon-search-purple.svg") 17px 28px
      no-repeat;
  }
}
