@use "../../scss/utils/vars" as *;
@use "../../scss/utils/typography" as *;

@keyframes darkModeOn {
  from {
    left: 5px;
  }
  to {
    left: 28px;
  }
}

@keyframes darkModeOff {
  from {
    left: 28px;
  }
  to {
    left: 5px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1;
  background: url("../../assets/mobile/bg-pattern-header.svg");
  margin-bottom: 97px;
  padding: 32px 24px 0;

  &__logo {
    margin-right: auto;
    background: url("../../assets/mobile/bg-pattern-header.svg");
  }

  &__controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 110px;
    margin-left: auto;
  }

  &__slider {
    cursor: pointer;
    display: inline-block;
    width: 48px;
    height: 24px;
    background-color: $white;
    border-radius: 12px;

    &-btn {
      display: inline-block;
      position: relative;
      top: 5px;
      left: 5px;
      width: 14px;
      height: 14px;
      background-color: $violet;
      border-radius: 14px;
      animation: darkModeOff;
      animation-duration: 0.3s;
      &.on {
        animation: darkModeOn forwards;
        animation-duration: 0.3s;
      }
    }
  }

  &__search-tablet {
    display: none;
  }

  &__search-mobile,
  &__search-tablet {
    flex-basis: 100%;
    position: relative;
    top: 30px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .header {
    background: url("../../assets/desktop/bg-pattern-header.svg") no-repeat;

    &__search-mobile {
      display: none;
    }
    &__search-tablet {
      @include font($c: $very-dark-blue, $s: 16px, $lh: 16px);
      display: flex;
      background: #ffffff;
      border-radius: 6px;
      color: #19202d;
      box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .job-board {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
