@use "../../scss/utils/vars" as *;
@use "../../scss/utils/typography" as *;

.job-board {
  display: grid;
  grid-row-gap: 49px;
  margin: 24px;
}

.job-board-btn {
  margin: 60px auto;
  display: block;
}

@media (min-width: $breakpoint-tablet) {
  .job-board {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 65px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .job-board {
    grid-template-columns: repeat(3, 1fr);
  }
}
