@use "./utils/vars" as *;
@use "./utils/typography" as *;

@keyframes darkModeOn {
  from {
    left: 5px;
  }

  to {
    left: 28px;
  }
}

@keyframes darkModeOff {
  from {
    left: 28px;
  }

  to {
    left: 5px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1;
  background: url("../assets/mobile/bg-pattern-header.svg");
  margin-bottom: 97px;
  padding: 32px 24px 0;

  &__logo {
    background: url("../assets/mobile/bg-pattern-header.svg");
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: 30%;
    margin-left: 100px;
  }

  &__slider {
    cursor: pointer;
    display: inline-block;
    width: 48px;
    height: 24px;
    background-color: $white;
    border-radius: 12px;

    &-btn {
      display: inline-block;
      position: relative;
      top: 5px;
      left: 5px;
      width: 14px;
      height: 14px;
      background-color: $violet;
      border-radius: 14px;
      animation: darkModeOff;
      animation-duration: 0.3s;
      &.on {
        animation: darkModeOn forwards;
        animation-duration: 0.3s;
      }
    }
  }

  &__search {
    flex-grow: 1;
    //flex-shrink: 1;
    //flex-basis: auto;
    //flex: 1 1 auto; /* Default flex value */
    position: relative;
    top: 30px;
  }

  &__search-input {
    @include font($c: $very-dark-blue, $s: 16px, $lh: 16px);
    color: #19202d;
    width: 100%;

    padding: 34px 198px 30px 24px;
    background: #ffffff;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    &::placeholder {
      opacity: 0.5;
    }
  }

  &__search-filter {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30px;
    right: 88px;
    z-index: 2;
    background: url("../assets/mobile/icon-filter.svg") no-repeat center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  &__search-btn {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 2;
    background: $violet url("../assets/desktop/icon-search.svg") no-repeat
      center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
}
