$turquoise: #4d96a9;
$light-turquoise: #71c0d4;
$blue: #8fe3f9;

$purple: #855fb1;
$light-purple: #b18bdd;
$pink: #d9b8ff;

$black: #28283d;
$grey: #87879d;
$white: #fafafa;

$zero-circle-two-offset: -28px;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
